<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <a style="font-size: 22px;" href='https://www.aionlegend.im/r/?invite=NS1I27'>点我注册</a>（晚上会很卡） 账号创建后联系群主
  <h2 style="color: red;font-size: 22px;">满级（65）前不得更换电脑登录也不可在此电脑登录其他账号,否则无法领取出师奖励.65之后没有任何限制</h2>
  <h2 style="color: red;font-size: 22px;"> 加速器可能导致验证失败 出师前用以下方式修改</h2>
  <image src='./ka.png'></image>
</body>

</html>
